
//========== RWD VARS ================================

tabBreakpoint = 34rem
deskBreakpoint = 54rem
tvBreakpoint = 82rem


//========== TYPOGRAPHY VARS =========================

fontFamily = 'Open Sans', Arial, Helvetica, sans-serif
fontSize = 16px
lineHeight = 1.53

h1Font = 2.2em
h1LineHeight = 1.2

h2Font = 1.6em
h2LineHeight = 1.2

h3Font = 1.5em
h3LineHeight = 1.2

h4Font = 1.2em
h4LineHeight = 1.2

h5Font = 1em
h5LineHeight = 1


//========== COLORS VARS =============================

brandColor = #4b4b4b

color = #444
background = #FFF
darkBackground = #333333

link        = brandColor
linkHover   = darken(brandColor, 30%)
borderColor = #CCC

successColor = #4FB71D
infoColor    = #3481D1
warningColor = #E0AF25
dangerColor  = #D62626
