
//========== GALLERY =================================

galleryWidth = pageWidth
galleryMargin = pageMargin

//====================================================

.galleryBackground
	background darkBackground
	overflow hidden

.gallery
	@extend .page
	color #FFF
