
//========== PAGE ====================================

pageWidth = 71rem
pageMargin = 2em
pagePadding = 0 1em

//====================================================

.page
	max-width pageWidth
	margin pageMargin auto
	padding pagePadding

