
//========== SKILL ===================================

skillCircleWidth = 140px
skillMargin = .7em 0
skillDescriptionMargin = 0 0 0 1.2em

//====================================================

.skill
	// padding-left skillCircleWidth
	display flex
	align-items center
	margin skillMargin


.skill-circle
	width skillCircleWidth

.skill-description
	margin skillDescriptionMargin
	flex 1

