
//========== WORK ====================================

workSpace = 2em

//====================================================

.work
	margin-top workSpace
	margin-bottom workSpace

.work-image
	max-width 100%

.work-description-header
	font-size h2Font


