
//========== WORK ====================================

workSpace = 2.4em

//====================================================

.work
	margin-top workSpace
	margin-bottom workSpace

.work-image
	max-width 100%

.work-description
	font-size .9em

.work-description-header
	font-size h2Font
	margin-top .4em


.work-description-hint
	font-size .7em
	color #999
